/* You can define and use webfonts */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.65em;
  font-size: 11px;
}

h1, h2, h3, h4 {
  color: #4042f3;
  line-height: 1.25em;
}

h1 {
  page-break-before: always;
  font-size: 2.15rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: normal;
  font-size: 1.65rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3, h4, h5 {
  margin-bottom: 0.6rem;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

h4 {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  margin-top: 1.25rem;
}

h5 {
  color: #444;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

h6 {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
